﻿*{
	margin: 0;
	padding: 0;
}

.Title{
	width: 600px;
	background: #000;
	margin: 0 auto;
	color: #fff;
	padding: 10px 0;
}
.Title h3, .Title h1{
	text-align: center;
}
.Box{
	width: 600px;
	background: #fff;
	margin: 10px auto;
	background: #DDF2F7;
}
.Box .box{
	margin: 10px 0;
}
.box h3{
	background: #DEEC06;
	width: 100%;
	padding: 10px 10px;
	cursor: pointer;
	text-align: center;
	color: #fff;
}
.box h3:hover{
	background-color: #29E909;
}
.xanh{
	background-color: blue !important;
}
.content{
	text-align: justify;
	padding: 0 10px;
	font-size: 16px;
}
.content2{
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}
.content2 ul li{
	width: 24%;
	float: left;
	list-style: none;
}
.content2 ul li img{
	width: 100%;
}
.menu ul{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.menu ul li{
	list-style: none;
	color: #000;
	font-size: 18px;
	font-weight: 700;
	padding: 0 20px;
}
.menu ul li a{
	text-decoration: none;
}
.timkiem{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}
.timkiem .tukhoa{
	border: 1px solid #000;
	margin-left: 30px;
	padding: 5px;
	width: 400px;
}
.hide{
    transform: translateX(-50%) rotateX(120deg);
    opacity: 0;
}